@import 'functions';

:root {
  /* theme colors */
  --primary-rgb : #{cl(#F16628)};
  --sec-rgb     : #{cl(#8B95B8)};
  --blue-rgb    : #{cl(#2173E5)};
  --red-rgb     : #{cl(#c0392b)};
  --green-rgb   : #{cl(#27ae60)};
  --yellow-rgb  : #{cl(#FECB29)};

  /* colors */
  --bg1-rgb     : #{cl(#ededed)};
  --bg2-rgb     : #{cl(#F5F7FB)};
  --bg3-rgb     : #{cl(#fff)};
  --default-rgb : #{cl(#373737)};
  --white-rgb   : #{cl(#fff)};
  --black-rgb   : #{cl(#000)};

  /* variables */
  --bg1    : rgb(var(--bg1-rgb));
  --bg2    : rgb(var(--bg2-rgb));
  --bg3    : rgb(var(--bg3-rgb));
  --default: rgb(var(--default-rgb));

  /* easing */
  --elastic: cubic-bezier(0.34, 2, 0.64, 1);
}

[data-theme="dark"] {
  --bg1-rgb     : #{cl(#181818)};
  --bg2-rgb     : #{cl(#282828)};
  --bg3-rgb     : #{cl(#323232)};
  --default-rgb : #{cl(#fff)};

}

body {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  background    : theme('colors.l3');
  font-family   : theme('fontFamily.base');
  color         : theme('colors.default');

  &.menu-opened {
    overflow: hidden;
  }
}

@media (hover) {
  // temp

  .btn-white:hover,
  .btn-white:is(.btn-group:hover .btn),
  .btn-white:is(.btn-peer:hover~.btn) {
    --tw-btn-color: #fff;
  }
}

@layer components {
  .active-enabled:not(:is(:is(.toggle-active, .tab-active, .active) .active-enabled)) {
    display: none !important;
  }

  .active-disabled:is(:is(.toggle-active, .tab-active, .active) .active-disabled) {
    display: none !important;
  }

  .is-active-disabled:is(.toggle-active, .active) {
    display: none;
  }

  .is-active-enabled:not(:is(.toggle-active, .active)) {
    display: none;
  }

  .absolute-fit {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }

  .hover-underline {
    position: relative;

    &::before {
      content   : '';
      position  : absolute;
      top       : 100%;
      left      : 0;
      width     : 100%;
      height    : 2px;
      background: theme('colors.primary');
      transform : scaleX(0);
      transition: .25s ease;
    }

    @media(hover) {
      // temp

      &-wrapper:hover &::before,
      &:hover::before {
        transform: scaleX(1);
      }
    }
  }

  .btn {
    border-radius: 8px;
    font-weight  : 600;
    cursor       : pointer;

  }

  .input {
    background: theme('colors.l3');
  }

  .title {
    font-size     : 36px;
    font-weight   : 900;
    text-transform: uppercase;

    @media (max-width: theme('screens.sm')) {
      font-size: 28px;
    }
  }

  .p-section {
    padding-top   : 72px;
    padding-bottom: 72px;

    @media (max-width: theme('screens.sm')) {
      padding-top   : 32px;
      padding-bottom: 32px;
    }
  }
}

.header {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  height         : 64px;
  padding-top    : 8px;
  padding-bottom : 8px;
  background     : theme('colors.l3');

  @media (max-width: theme('screens.sm')) {
    height: 50px;
  }
}

.started {
  display       : flex;
  align-items   : center;
  position      : relative;
  height        : 760px;
  overflow      : hidden;
  padding-top   : 24px;
  padding-bottom: 24px;
  background    : #F0F1F5;

  @media (max-width: theme('screens.lg')) {
    height        : auto;
    padding-bottom: calc(100vw * 220 / 375);
  }

  @media (max-width: theme('screens.md')) {
    padding-bottom: calc(100vw * 258 / 375);

  }

  &-content {
    position: relative;

    @media (max-width: theme('screens.sm')) {
      width: 100%;
    }
  }

  &-title {
    @media (min-width: theme('screens.lg')) {
      font-size: 42px;
    }
  }

  &-form {
    width    : 100%;
    max-width: 530px;

    @media (max-width: theme('screens.sm')) {
      max-width: 100%;
    }
  }

  &-back {
    position: absolute;
    right   : 0;
    bottom  : 0;
    height  : 100%;

    @media (max-width: 1640px) {
      right: auto;
      left : calc(50% + 200px);
    }

    @media (max-width: theme('screens.lg')) {
      right : 0;
      left  : 0;
      width : 100%;
      height: calc(100vw * 100 / 375);
    }

    @media (max-width: theme('screens.md')) {
      height: calc(100vw * 190 / 375);

    }
  }

  &-image {
    position: absolute;
    bottom  : 0;
    left    : calc(50% - 20px);

    @media (max-width: 1640px) {
      left: calc(50% + 100px);

    }

    @media (max-width: theme('screens.lg')) {
      bottom: calc(-100vw * 30 / 375);
      left  : calc(50% - calc(100vw * 342 / 375) / 2);
      width : calc(100vw * 342 / 375);
    }

    img {
      @media (min-width: theme('screens.lg')) {
        max-width: none;
      }
    }
  }
}


.service {
  &-item {
    display       : flex;
    align-items   : flex-start;
    flex-direction: column;
    padding       : 32px 16px 16px;
    border        : 1px solid theme('colors.default / 10%');
    border-radius : 12px;

    @media (max-width: theme('screens.sm')) {
      padding: 16px 12px 12px;
    }
  }
}

.features {
  padding-top: 32px;

  @media (max-width: theme('screens.sm')) {
    padding-bottom: 24px;
  }

  &-item {
    display       : flex;
    align-items   : center;
    flex-direction: column;
    position      : relative;
    overflow      : hidden;
    padding       : 58px 16px 38px;
    background    :
      linear-gradient(180deg, rgba(58, 95, 209, 0.4) 0%, rgba(255, 255, 255, 0) 73.8%), #1C223A;
    border-radius: 12px;
    color        : #fff;
    text-align   : center;
    gap          : 32px;

    @media (max-width: theme('screens.lg')) {
      padding: 32px 16px 28px;
      gap    : 16px;
    }

    &-image {
      display        : flex;
      align-items    : center;
      justify-content: center;
      position       : relative;
      width          : 90px;
      height         : 90px;
      background     : #fff;
      border-radius  : 12px;
      font-size      : 52px;


      @media (max-width: theme('screens.lg')) {
        width    : 76px;
        height   : 76px;
        font-size: 46px;
      }
    }

    &-content {
      position: relative;
    }
  }
}

.method {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  padding-top    : 16px;
  padding-bottom : 16px;
  gap            : 24px;

  @media (max-width: theme('screens.sm')) {
    padding-top: 24px;
  }

  @media (max-width: theme('screens.lg')) {
    align-items   : stretch;
    flex-direction: column;
  }

  &-image {
    flex-shrink: 0;
    width      : 583px;
    max-width  : 100%;

    @media (max-width: theme('screens.md')) {
      align-self: center;
      order     : -1;
    }
  }
}

.reviews {
  &-slider {
    // temp

    &-prev,
    &-next {
      box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.16);

    }
  }

  &-pagination {
    --swiper-pagination-bullet-size            : 12px;
    --swiper-pagination-bullet-horizontal-gap  : 12px;
    --swiper-pagination-color                  : theme('colors.primary');
    --swiper-pagination-bullet-inactive-color  : theme('colors.default');
    --swiper-pagination-bullet-inactive-opacity: .1;
    --swiper-pagination-bottom                 : -6px;

    @media (max-width: theme('screens.sm')) {
      --swiper-pagination-bullet-size          : 8px;
      --swiper-pagination-bullet-horizontal-gap: 8px;
      --swiper-pagination-bottom               : -4px;

    }
  }
}

.consultation {
  padding-top   : 16px;
  padding-bottom: 32px;

  &-block {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 16px;
    padding-left   : 48px;
    background     : #EDF0FA;
    border-radius  : 16px;
    gap            : 32px;

    @media (max-width: theme('screens.lg')) {
      align-items   : flex-start;
      flex-direction: column;
      padding       : 24px 16px 16px;
    }

    @media (max-width: theme('screens.sm')) {
      padding: 24px 8px 8px;
    }
  }

  &-content {
    @media (max-width: theme('screens.sm')) {
      padding-right: 8px;
      padding-left : 8px;
    }
  }

  &-image {
    @media (max-width: theme('screens.lg')) {
      width        : 400px;
      max-width    : 100%;
      overflow     : hidden;
      border-radius: 12px;
    }
  }
}

.team {
  &-item {
    padding       : 16px;
    padding-bottom: 32px;
    border        : 1px solid theme('colors.default / 10%');
    border-radius : 12px;
  }

  &-pagination {
    --swiper-pagination-bullet-size            : 12px;
    --swiper-pagination-bullet-horizontal-gap  : 12px;
    --swiper-pagination-color                  : theme('colors.primary');
    --swiper-pagination-bullet-inactive-color  : theme('colors.default');
    --swiper-pagination-bullet-inactive-opacity: .1;
    --swiper-pagination-bottom                 : -6px;

    @media (max-width: theme('screens.sm')) {
      --swiper-pagination-bullet-size          : 8px;
      --swiper-pagination-bullet-horizontal-gap: 8px;
      --swiper-pagination-bottom               : -4px;

    }
  }
}

.pray {
  display       : flex;
  align-items   : center;
  padding-top   : 48px;
  padding-bottom: 48px;
  background    : linear-gradient(99.3deg, rgba(241, 102, 40, 0) 50.47%, rgba(241, 102, 40, 0.3) 100%), #1C223A;
  color         : #fff;
  gap           : 32px;


  @media (max-width: theme('screens.lg')) {
    align-items   : flex-start;
    flex-direction: column;
  }

  @media (max-width: theme('screens.md')) {
    padding-top: 16px;
  }

  &-form {
    flex-shrink  : 0;
    width        : 480px;
    margin-left  : auto;
    padding      : 40px;
    background   : theme('colors.l3');
    border-radius: 12px;
    color        : theme('colors.default');

    @media (max-width: theme('screens.lg')) {
      order: -1;
      width: 100%;
    }

    @media (max-width: theme('screens.sm')) {
      padding: 16px;
    }
  }

  &-jigurda {
    display      : flex;
    align-items  : center;
    padding      : 8px;
    background   : #333A58;
    border-radius: 12px;
    gap          : 24px;

    @media (max-width: theme('screens.sm')) {
      gap: 12px;
    }

    &-image {
      display        : flex;
      align-items    : center;
      justify-content: center;
      flex-shrink    : 0;
      width          : 84px;
      height         : 84px;
      background     : linear-gradient(135deg, theme('colors.sec') 0%, #D8E1FF 25.5%, #fff 50%, #D8E1FF 75.5%, theme('colors.sec') 100%);
      border-radius  : 8px;
      font-size      : 52px;
      color          : theme('colors.primary');

      @media (max-width: theme('screens.sm')) {
        width    : 58px;
        height   : 58px;
        font-size: 40px;
      }
    }
  }
}

.faq {
  &-item {
    overflow     : hidden;
    border       : 1px solid theme('colors.default / 10%');
    border-radius: 8px;

    &-title {
      display        : flex;
      align-items    : center;
      justify-content: space-between;
      width          : 100%;
      padding        : 20px 24px;
      text-align     : left;

      @media (max-width: theme('screens.sm')) {
        padding: 14px 16px;
      }

      &.toggle-active {
        background: #EDF0FA;

      }
    }

    &-content {
      padding   : 24px;
      border-top: 1px solid theme('colors.default / 10%');

      @media (max-width: theme('screens.sm')) {
        padding: 16px;
      }

      &:not(.toggle-active) {
        display: none;
      }
    }
  }
}

.map {
  height : 496px;
  padding: 0;

  @media (max-width: theme('screens.sm')) {
    height: 420px;
  }
}

.footer {
  padding-top   : 38px;
  padding-bottom: 54px;
  background    :
    linear-gradient(90deg, rgba(56, 93, 214, 0) 0%, rgba(56, 93, 214, 0.3) 100%), #171E37;
  color: #fff;
}

.menu {
  position  : fixed;
  top       : 0;
  left      : 0;
  width     : 400px;
  max-width : 100%;
  height    : 100%;
  overflow  : auto;
  background: theme('colors.l3');
  transition: .25s ease;
  z-index   : theme('zIndex.5');

  &:not(.toggle-active) {
    transform: translateX(-100%);
  }

  &-shadow {
    position  : fixed;
    inset     : 0;
    background: rgba(0, 0, 0, 0.5);
    transition: .25s ease;
    z-index   : calc(theme('zIndex.5') - 1);
  }

  &:not(.toggle-active)~&-shadow {
    opacity       : 0;
    pointer-events: none;
  }
}

.dialog {
  max-width    : 100%;
  background   : theme('colors.l3');
  border-radius: 12px;

}

.dialog-form {
  width  : 464px;
  padding: 32px 32px 42px;

  @media (max-width: theme('screens.sm')) {
    padding-right: 16px;
    padding-left : 16px;
  }
}

.dialog-info {
  width   : 320px;
  overflow: hidden;

  &-image {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 178px;
  }

  &-content {
    padding: 28px 16px 32px;
  }
}

.dialog-policy {
  width  : 696px;
  padding: 40px 32px;

  @media (max-width: theme('screens.sm')) {
    padding-right: 16px;
    padding-left : 16px;
  }
}

.not-found {
  display        : flex;
  align-items    : center;
  justify-content: center;
  flex-direction : column;
  background     : #EDF0FA;

}

[data-animation^="fade"] {
  opacity: 0;
}